header {
	font-size: 2em;
}

header img {
	width: 12vw;
	max-width: 180px;
	height: 12vh;
	margin-bottom: 0.5rem;
	border-radius: 20px;
}

header #team-logo {
	padding-top: 10px;
	object-fit: fill;
}

header p {
	font-size: 3em;
	color: grey;
}

.navbar {
	margin-bottom: 0.5rem;
	font-size: 0.8em;
}

.card {
	box-sizing: border-box;
	border-radius: 15px;
}
.list-group {
	list-style-type: none;
}

.bg-light {
	background-color: #c8e6dc !important;
}

#card-list {
	display: flex;
}
